#box {
    width: 100px;
    height: 100px;
    position: absolute;
    background: gray;
    left: 200px;
    top: 200px;
    background-image: url("kenzie.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}